@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,700;1,800&display=swap');
$primary: #012622;
$primary-variant: #003b36;
$secondary: #e98a15;
$tertiary: #fdfffc;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 390px;
  background-color: $primary;
  color: $tertiary;
  font-family: 'Shantell Sans', cursive;
  height: 100vh;

  ul {
    list-style: none;
    padding: 0;
  }

  button {
    outline-color: #fdfffc;
  }
}

header {
  padding: 18px 8px;

  nav {
    background-color: $primary-variant;
    border-radius: 8px;

    .collapse {
      
      ul a {
        color: $tertiary;
      }

      ul a:hover {
        color: $secondary;
      }

      .active {
        color: $secondary !important;
      }
    }
  }

  h1 {
    font-weight: 700;
    color: $secondary;
  }

  .button {
    background-color: $secondary;
    border-color: $secondary;
  }
}

section {
  .new-book {
    height: 73vh;
  }
}

footer {
  padding: 18px 8px;

  div {
    padding: 12px 18px;
    border-radius: 8px;
    background-color: $primary-variant;

    h6 {
      color: $secondary;
    }

    a {
      font-weight: 300;
      font-size: 0.7em;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    background-color: $primary;
  }
}
